<template name="listplans">
	<h1>Plans</h1>
	<table class="u-full-width">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Duration</th>
	      <th>Price</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	  	{{#each plans}}
	    <tr>
	      <td>{{plan_name}}</td>
	      <td>{{days}} Day(s)</td>
	      <td>{{price}}</td>
	      <td><a class="button button-primary" href="/admin/plans/edit/{{_id}}">Edit</a><a class="delete-plan button button-danger" href="">Delete</a></td>
	    </tr>
	    {{/each}}
	  </tbody>
	</table>
</template>